# Random Forests with Restricted Trees

In [1]:
import pandas as pd
train_data = pd.read_csv("data/landsat_train_small.csv",header=None)

In [2]:
train_data.head()

   0     1     2     3     4     5     6     7     8     9
0  6  2696  2416  2179  1412  3882  1988  1407  1025  4867
1  6  2691  2413  2177  1406  3879  1986  1408  1023  4856
2  6  2690  2413  2178  1404  3880  1988  1411  1023  4852
3  6  2691  2415  2184  1405  3878  1998  1420  1025  4851
4  6  2706  2428  2201  1413  3891  2021  1436  1033  4874

In [3]:
# Range
train_data[0].unique()

array([6, 7, 3, 4, 5, 2, 8])

In [4]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
# Not exactly how it was supposed to be according to the exercise
clf = BaggingClassifier(base_estimator=tree.DecisionTreeClassifier(), 
                        n_estimators=10, 
                        max_features=2,
                        bootstrap_features=False # no replacment
                       )
clf.fit(train_data[[1,2,3,4,5,6,7,8,9]],train_data[0])

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=2,
         max_samples=1.0, n_estimators=10, n_jobs=None, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [5]:
del train_data

In [6]:
validation_data = pd.read_csv("data/landsat_validation.csv",header=None)

In [7]:
validation_data.head()

   0     1     2     3     4     5     6     7     8     9
0  4  2533  2269  1904  2447  2204  2048  1063  1061  4590
1  4  2539  2274  1907  2452  2210  2051  1066  1065  4598
2  4  2540  2272  1905  2451  2210  2048  1066  1066  4593
3  4  2534  2269  1901  2448  2207  2042  1064  1064  4585
4  4  2533  2270  1902  2450  2208  2039  1063  1065  4585

In [8]:
y_preds = clf.predict(validation_data[[1,2,3,4,5,6,7,8,9]])

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(validation_data[0],y_preds)

0.6572406439855102